estas en la pagina index parametros

<li><a asp-controller="param" asp-action="eje2" asp-route-name="anita">Pansando un Parametro</a></li>
<li><a asp-controller="param" asp-action="eje3" asp-route-name="anita" asp-route-edad="22">Pansando dos Parametro</a></li>

<h3>Usando FromQuery</h3>
<li><a asp-controller="param" asp-action="eje4" asp-route-name="anita">Pansando un Parametro</a></li>
<li><a asp-controller="param" asp-action="eje5" asp-route-name="anita" asp-route-edad="22">Pansando dos Parametro</a></li>