@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ol >
        <li><a asp-controller="Prueba" asp-action="Index">Ejemplo de Archivos Estaticos</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoDatos">Ejemplo de envio de valores, simples a una vista</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoObjetos">Ejemplo de envio de un objeto a una vista</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoListasObjetos">Ejemplo de envio de una lista de objetos a una vista</a></li>
        <li><a asp-controller="Configuraciones" asp-action="Index">Ejemplo de settingjson</a></li>
    </ol>
</div>
