@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Listado de paginas hechas</h2>
</div>
<div>
    <ul>
        <li><a asp-controller="Prueba" asp-action="Index">Ejemplo de Archivos Estaticos</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoDatos">Ejemplo de envio de valores, simples a una vista</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoObjetos">Ejemplo de envio de un objeto a una vista</a></li>
        <li><a asp-controller="Prueba" asp-action="PasandoListasObjetos">Ejemplo de envio de una lista de objetos a una vista</a></li>
        <li><a asp-controller="Configuraciones" asp-action="Index">Ejemplo de settingjson</a></li>
        <li><a asp-controller="param" asp-action="Inicio">Ejemplo de Parametros</a></li>
        <li><a asp-controller="Formulario" asp-action="index">Ejemplo de Formulario</a></li>
        <li><a asp-controller="producto" asp-action="index">Ejemplo de envio de archivos</a></li>
        <li><a asp-controller="Usuario" asp-action="index">Ejemplo de validacion de Formulario</a></li>
        <li><a asp-controller="Sesiones" asp-action="index">Ejemplo de Sesiones</a></li>
        <li><a asp-controller="minimarket" asp-action="index">Ejemplo de un minimarket</a></li>


        
    </ul>
</div>
